<%- include('partials/header') %>

<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Products</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Products</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <p>Mushroom</p>
      </div>

      <div class="row">
        <div
          class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content"
          data-aos="fade-right"
          data-aos-delay="100"
        >
          <!-- <h3>About Us</h3> -->
          <p>
            <h3>At Nduoma farms we produce Edible and medicinal   mushrooms</h3>
            <h4>Here's an overview of what Nduoma mushroom Farms offers:</h4>
      
            <br>
            <b>Fresh Mushrooms:</b> Nduoma Farms produces fresh mushrooms, including Oyster mushrooms and Reishi Ganoderma mushrooms. Fresh mushrooms are versatile ingredients used in various culinary dishes and are known for their nutritional benefits.            .
          </p>

          <p>
            <b>Powdered Medicinal Reishi Mushroom Tea:</b> Reishi Ganoderma mushrooms are highly regarded for their potential health benefits. Nduoma Farms produces powdered medicinal Reishi Mushroom Tea, which can be consumed as a beverage for its potential medicinal properties. Reishi mushrooms are believed to have various health-promoting properties, including immune system support and antioxidant effects.
          </p>

          <p>
            <b>Oyster Mushroom Powder:</b>  Oyster mushrooms are a popular choice in the culinary world due to their mild flavor and versatility. Oyster mushroom powder can be used as a seasoning or ingredient in various dishes to add flavor and nutritional value.
          </p>

          <p>
            <b>Mushroom Substrate:</b>  Mushroom substrate is the material on which mushrooms are grown. It's an essential component of mushroom cultivation. Nduoma Farms offers mushroom substrate for sale, which can be beneficial for individuals or businesses interested in growing their own mushrooms.
          </p>

          <p>
            <br>
            <h4>Benefits of Oyester Mushroom:</h4>
            <br>
            Oyster mushrooms (Pleurotus species) are not only delicious but also offer several potential health benefits when incorporated into your diet.
            <br>
            Here are some of the key benefits of oyster mushrooms:
          </p>
          <p>
            <b>Nutrient-Rich:</b> Oyster mushrooms are a good source of essential nutrients such as protein, fiber, vitamins (especially B vitamins like niacin and riboflavin), and minerals (including potassium, phosphorus, and copper). They are also low in calories and fat, making them a nutritious addition to a balanced diet.
          </p>
          <p>
            <b>Antioxidant Properties:</b>Oyster mushrooms contain antioxidants like ergothioneine and glutathione, which can help protect your cells from oxidative stress and damage caused by free radicals. Antioxidants play a role in maintaining overall health and reducing the risk of chronic diseases.
          </p>
          <p>
            <b>Immune System Support:</b> Some studies suggest that oyster mushrooms may have immune-boosting properties. They contain beta-glucans, a type of complex carbohydrate that may help enhance the immune system's response to infections and illnesses.
          </p>
          
          <p>
            <b>Heart Health:</b>Oyster mushrooms are low in cholesterol and saturated fat, making them heart-healthy. Their dietary fiber content can also contribute to lower cholesterol levels and improved cardiovascular health.
          </p>
          <p>
            <b>Weight Management:</b> Oyster mushrooms are low in calories but filling due to their fiber content. Including them in your meals can help you feel full, potentially reducing overall calorie intake and aiding in weight management or weight loss efforts.
          </p>
          <p>
            <b>Digestive Health:</b> The fiber in oyster mushrooms promotes healthy digestion by aiding in regular bowel movements and supporting a balanced gut microbiome. This can help prevent digestive issues like constipation.
          </p>
          <p>
            <b>Antimicrobial Properties:</b> Oyster mushrooms contain natural compounds that may have antimicrobial properties, which can help combat certain types of bacteria and fungi.
          </p>
          <p>
            <b>Vegan-Friendly Protein:</b> Oyster mushrooms are a good source of plant-based protein, making them a valuable ingredient for vegetarians and vegans. They can be used as a meat substitute in various recipes.
          </p>
          <p>
            <b>Rich in Vitamins:</b> Oyster mushrooms are particularly rich in niacin (vitamin B3) and riboflavin (vitamin B2), which play important roles in energy metabolism and overall health.
          </p>
          <p>
            <b>Versatile Culinary Uses:</b> Oyster mushrooms have a mild, savory flavor and a tender texture, making them versatile in cooking. They can be used in a wide range of dishes, including soups, stir-fries, salads, and even as a meat substitute in vegetarian and vegan recipes.
          </p>


          <p>
            <br>
            <h4>Benefits of Reishi Mushroom:</h4>
            <br>
            Reishi mushrooms, scientifically known as Ganoderma lucidum, have been used in traditional medicine for centuries, particularly in Asian cultures. These mushrooms are often referred to as the "king of mushrooms" due to their potential health benefits. While more research is needed to fully understand their effects.
            <br>
            Here are some of the potential benefits associated with reishi mushrooms:
          </p>
          <p>
            <b>Immune System Support:</b> Reishi mushrooms contain various bioactive compounds, including beta-glucans, which have been shown to enhance and modulate the immune system's response. They may help strengthen the immune system, making it more effective at fighting infections and illnesses.
          </p>
          <p>
            <b>Antioxidant Properties:</b>Reishi mushrooms are rich in antioxidants, such as polysaccharides and triterpenoids. These antioxidants can help combat free radicals in the body, reducing oxidative stress and lowering the risk of chronic diseases.
          </p>
          <p>
            <b>Anti-Inflammatory Effects:</b> Reishi mushrooms may have anti-inflammatory properties, which can help reduce inflammation in the body. Chronic inflammation is associated with various health issues, so managing it can have a positive impact on overall health.
          </p>
          
          <p>
            <b>Stress Reduction and Relaxation:</b>Some studies suggest that reishi mushrooms may help reduce stress and promote relaxation. They are often used in traditional medicine as an adaptogen, which means they may help the body adapt to stress and maintain balance.
          </p>
          <p>
            <b>Improved Sleep:</b> Reishi mushrooms may have a calming effect on the nervous system, potentially leading to improved sleep quality. This can be beneficial for individuals dealing with insomnia or sleep disturbances.
          </p>
          <p>
            <b>Liver Health:</b> Reishi mushrooms have been studied for their potential to support liver health and promote detoxification. They may help protect the liver from damage and improve its overall function.
          </p>
          <p>
            <b>Cancer Support:</b> While not a replacement for conventional cancer treatments, some research suggests that reishi mushrooms may have potential anticancer properties. They may inhibit the growth of cancer cells and enhance the body's immune response against cancer.
          </p>
          <p>
            <b>Cardiovascular Health:</b> Reishi mushrooms may help lower blood pressure and improve cholesterol levels, contributing to better heart health. They can also help reduce the risk of blood clots and support overall cardiovascular function.
          </p>
          <p>
            <b>Respiratory Health:</b> Some studies have indicated that reishi mushrooms may have benefits for respiratory conditions like asthma and bronchitis. They may help reduce symptoms and improve lung function.
          </p>
          <p>
            <b>Anti-Aging:</b> Reishi mushrooms are often associated with longevity and anti-aging properties. Their antioxidant and anti-inflammatory effects may contribute to healthy aging.
          </p>
        </div>
      </div>

      <div class="row">
        <% mushroom.forEach((inv)=>{%>
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch content-center">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img
                src="<%= inv.image %>"
                class="img-fluid"
                alt=""
                id="item-img"
              />
              <div class="social">
                <button class="addtocart add-to-cart-btn" data-product-id="<%= inv.id %>" data-product-img="<%= inv.image %>" data-product-name="<%= inv.name %>" data-product-price="<%= inv.price %>" href="">add to cart</button>
              </div>
            </div>
            <div class="member-info">
              <h4 id="item-name"><%= inv.name %></h4>
              <span id="item-price"><%= inv.price %></span>
              <span id="item-price"><%= inv.description  %></span>
              <span id="item-id" style="display: none"><%= inv.id %></span>
            </div>
          </div>
        </div>
        <%})%>
      </div>
    </div>
  </section>
  <!-- End Team Section -->
</main>
<!-- End #main -->

<%- include('partials/footer') %>
