<%- include('partials/header') %>

<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Products</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Sugar</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <p>CitruMilk Products</p>
      </div>

      <div class="row">
        <% sugar.forEach((inv)=>{%>
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img
                src="<%= inv.image %>"
                class="img-fluid"
                alt=""
                id="item-img"
              />
              <div class="social">
                <button class="addtocart" data-product-id="<%= inv.id %>" data-product-img="<%= inv.image %>" data-product-name="<%= inv.name %>" data-product-price="<%= inv.price %>" href="">add to cart</button>
              </div>
            </div>
            <div class="member-info">
              <h4 id="item-name"><%= inv.name %></h4>
              <span id="item-price"><%= inv.price %></span>
              <span id="item-id" style="display: none"><%= inv.id %></span>
            </div>
          </div>
        </div>
        <%})%>
      </div>
    </div>
  </section>
  <!-- End Team Section -->
</main>
<!-- End #main -->

<%- include('partials/footer') %>
